* {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, Helvetica, sans-serif;
}
body,
html {
  overflow-x: hidden;
  background-color: #141414;
}

.background-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("slike/background.webp");
  background-color: gray;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /*U VH JE ZATO STO NEMA DRUGOG BOLJEG NACINA, POSTOTCI NE RADE*/
}
.first-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* HEADER*/
header {
  display: flex;
  width: 90%;
  padding-block: 40px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  background-color: #141414;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
  transition: all 0.5s;
  font-weight: 700;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #ff0050;
}

.logo {
  width: 10%;
}
#logo-img {
  width: 50%;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  padding: 28px 20px;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 3px;
  position: relative;
  transition: 0.2s ease-out;
  width: 30px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 10px;
}

.header .menu-icon .navicon:after {
  top: -10px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 1201px) {
  .header li {
    text-align: center;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    display: flex;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 1200px) {
  .background-image {
    background-position: center right;
  }
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .logo {
    text-align: center;
    margin-inline: auto;
  }
  .header li a {
    text-align: center;
  }
}

/* SERVICES */
.services {
  display: flex;
  flex-direction: column;
  background-color: #141414;
  align-items: center;
  padding-block: 150px;
}
.services h1 {
  margin-bottom: 150px;
  color: white;
  font-size: 3rem;
  text-align: center;
}
.three-boxes {
  display: flex;
}
.service-box {
  display: flex;
  flex-direction: column;
  margin-inline: 100px;
  width: 40%;
  transition: all 0.8s;
}
.service-img {
  height: auto;
}
.service-text {
  height: 55%;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  padding-inline: 30px;
}
.service-text h3 {
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 2rem;
}
.service-text p {
  font-size: 1.5rem;
  width: 80%;
}
.container-img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .services {
    height: auto;
  }
  .three-boxes {
    flex-direction: column;
  }
  .service-box {
    width: 80%;
    margin-inline: auto;
    height: auto;
    margin-block: 30px;
  }
}

/* PRICING */

.pricing {
  width: 100%;
  margin-inline: auto;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pricing-header {
  background-color: yellow;
  width: 100%;
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.pricing-header h1 {
  font-size: 3rem;
  width: 50%;
  margin-inline: auto;
}
.pricing-header h3 {
  margin-top: 30px;
}
.pricing-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-block: 250px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("slike/laptopnew.webp");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center 50%;
  background-repeat: no-repeat;
}
.pricing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  margin-inline: 100px;
}
.pricing-container h2 {
  color: yellow;
  font-size: 3rem;
}
.pricing-container ul {
  color: white;
  font-size: 1.2rem;
}
#pricing-purchase {
  width: 14rem;
  padding-block: 12px;
  margin-top: 50px;
  border-radius: 10px;
  border: transparent;
}
@media (max-width: 1200px) {
  .pricing-header h1 {
    width: auto;
    font-size: 2.5rem;
  }
  .pricing-content {
    padding-block: 100px;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  .pricing-container {
    width: auto;
    margin-bottom: 50px;
    margin-inline: auto;
  }
  .pricing-container ul {
    list-style: none;
  }
}

/* User experience */
.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-block: 200px;
}
.users h1 {
  font-size: 3rem;
  margin-bottom: 150px;
  text-align: center;
}
.user-conts {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}
.user-cont {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid #000;
  padding: 50px;
  background-color: yellow;
  box-shadow: -7px 7px 0px #000;
  width: 30%;
  transition: all 0.6s;
  height: auto;
  margin-inline: 100px;
}
.user-img {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-icon {
  width: 25%;
}
.user-info h3 {
  font-size: 2rem;
}
.user-info h4 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 10px;
}
.user-descrip {
  height: 50%;
  margin-top: 50px;
  font-size: 1.3rem;
  width: 100%;
}
.border {
  height: 50%;
  border: solid 2px transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .users {
    height: auto;
    padding-block: 100px;
  }
  .user-conts {
    flex-direction: column;
  }
  .user-cont {
    width: 50%;
    margin-block: 30px;
  }
}
/* GET IN TOUCH */
.get-in-touch {
  display: flex;
  height: auto;
  background-color: yellow;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 0;
}
.get-in-touch h2 {
  margin-block: 30px;
}
.get-in-touch h1 {
  margin-block: 50px;
}
.social-links .fa {
  color: white;
}
@media (max-width: 1200px) {
  .get-in-touch {
    height: auto;
    padding-block: 50px;
  }
  .get-in-touch h2 {
    margin-block: 10px;
  }
  .get-in-touch h1 {
    margin-block: 10px;
  }
}
/* FOOTER */
.footer {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  width: 100%;
  background-color: rgb(39, 37, 37);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  color: white;
}
.content {
  display: flex;
  width: 80%;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  padding-block: 60px;
}
.footer p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.logo img {
  width: 150px;
}
.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}
.products-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.social-links {
  margin-inline: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  text-align: center;
}
.socials {
  display: flex;
  flex-direction: column;
}
.first2 {
  margin-bottom: 20px;
}
.social-links .fa {
  font-size: 2rem;
  color: white;
  margin-inline: 40px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 1400px) {
  .logo {
    display: none;
  }
  .content {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
  }
  .footer {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .join {
    width: 30%;
  }
  .summary {
    width: 30%;
  }
  .products-summary {
    width: 30%;
  }
  .join h3 {
    display: none;
  }
  .first2 {
    margin: 0;
  }
  .social-links .fa {
    margin-bottom: 8px;
  }
}
